<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Fréquentation gares</title>
    <style>
        tr {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }

        nav a {
            color: #000000;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<html>
   <body>
    <h1>Gares</h1>
    <div class='post'>

        <table border = 0> 
            <thead>
                <td>Dataset</td>
                <td>Code UIC</td>
                <td>Libellé</td>
                <td>Code commune</td>
                <td>Code postal</td>
                <td>Gare</td>
            </thead>

            {% for row in rows %}
                <tr>
                    <td><p>{{row[0]}}</p></td>
                    <td><p>{{row[10]}}</p></td>
                    <td><p>{{row[6]}}</p></td>
                    <td><p>{{row[9]}}</p></td>
                    <td><p>{{row[13]}}</p></td>
                    <td><p>{{row[5]}}</p></td>

                </tr>
            {% endfor %}

            </table>
    </div>
    </body>
</html>