<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Fréquentation gares</title>
    <style>
        tr {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }

        nav a {
            color: #000000;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<html>
   <body>
    <h1>Gares</h1>
    <div class='post'>

        <table border = 0> 
            <thead>
                <td>Code UIc</td>

            </thead>

            {% for row in rows %}
                <tr>
                    <td><p>{{row[0][0]}}</p></td>

                </tr>
            {% endfor %}

            </table>
    </div>
    </body>
</html>